* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
@font-face{
	font-family: personalizada;
	src: url('../Fuentes/LEMONMILK-Medium.otf') format('opentype');
}
.logo img{
	width: 60px;
	height: 60px;
}

.logo h1{
	font-family:  fantasy;
	font-style: "Impact";
	background: -webkit-linear-gradient(left top, #FF0080, yellow);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	letter-spacing: 1.5px;
	font-size: 40px;
	text-transform: uppercase;
}

body{
	font-family: arial;
	background: #F4F4F4;
}
.form-login{
	width: 500px;
	height: 500px;
	background: #F4F4F4;
	margin: auto;
	margin-top: 60px;
	padding: 40px 30px;
	color: white;
	position: relative;
}
.form-login img{
	width: 20px;
	height: 20px;
	margin-top: 10px;
	margin: 18px;
	position: fixed;
}

.form-login h5 {
	font-family: personalizada;
	margin: 0;
	text-align: center;
	height: 40px;
	margin-bottom: 30px;
	font-size: 20px;
	color:  #1C2833;
}
.controls{

	width: 100%;
	border-radius: 25px;
	border: 1px solid #017bab;
	margin-bottom: 15px;
	padding: 18px 47px;
	background: white;
	font-size: 18px;
	font-weight: bold;
}
.buttons{
	width: 100%;
	height: 40px;
	border-radius: 20px;
	background: #1C2833;
	border: none;
	color: white;
	margin-bottom: 16px;
}
.buttons:hover{
	width: 100%;
	height: 40px;
	border-radius: 20px;
	background: #f6b9a7;
	border: none;
	color: #1C2833;
	margin-bottom: 16px;
}
.form-login p{
	height: 40px;
	text-align: center;
	border-bottom: 1px solid;
}
.form-login a{
	color:  #1C2833;
	text-decoration: none;
	font-size: 14px;
}
.form-login a:hover{
	text-decoration: underline;
}
.fondo{
	position: fixed;
	top: 0;
	left: 0;
	min-width: 100%;
	min-height: 100%;
	z-index: 0